<ul class="menu">
    @if (Session["Username"] != null && Session["Role"] != null)
    {
        <li>
            @Html.ActionLink(Session["Username"].ToString() + "!", "Index", Session["Role"].ToString(), routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="@Url.Action("LogOff", "Account")">Đăng xuất</a></li>
    }
    else
    {
        <li>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    }
    <li>
        <a href="contact.html">Liên hệ</a>
    </li>
    <li>
        <a href="#">Xem gần đây</a>
    </li>
</ul>
