
@if (Session["Username"] == null)
{
    <div class="text-center">
        <a href="@Url.Action("Login", "Account", new { returnUrl = Request.Url.ToString() })" class="btn btn-primary"><i class="fa fa-comment-o"></i> Đăng nhập để bình luận</a><br /><br />
    </div>
}
else
{
    <div id="comment-form">

        <h4>Cho tôi biết suy nghĩ của bạn</h4>

        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="comment">
                            Bình luận <label>(<label class="required">*</label>)</label>
                        </label>
                        <textarea class="form-control" id="comment" rows="4"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-primary"><i class="fa fa-comment-o"></i> Bình luận</button>
                </div>
            </div>
        }
    </div>
}