
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>
    .upload-image {
        max-height: 80%;
        max-width: 80%;
        margin: 10%;
    }

    .image-container {
        vertical-align: central;
        border: solid 1px black;
        border-radius: 5px;
        margin: 10px;
        height: 200px;
    }
</style>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span style="color:green">@Html.Raw(ViewBag.Message)</span>
    <input type="file" multiple id="gallery-photo-add" name="files">
    <div class="row">
        <div class="col-md-6"><div class="gallery"></div></div>
        <div class="col-md-6"></div>
    </div>

    <script>
        $(function () {
            // Multiple images preview in browser
            var imagesPreview = function (input, placeToInsertImagePreview) {

                if (input.files) {
                    var filesAmount = input.files.length;
                    $(".image-container").remove();

                    var files = $('#gallery-photo-add').prop("files");
                    var names = $.map(files, function (val) { return val.name; });

                    for (i = 0; i < filesAmount; i++) {
                        var reader = new FileReader();
                        reader.fileName = names[i];
                        reader.onload = function (event) {
                            var imageContainer = $('<div class="image-container text-center col-md-3"></div>');
                            var imageName = $('<span class="image-name"></span>');
                            var image = $('<img class="upload-image" />').attr('src', event.target.result);
                        
                            //imageName.append(event.target.fileName);
                            imageContainer.append(image);
                            imageContainer.append(imageName);
                        
                            $(placeToInsertImagePreview).append(imageContainer);
                        }

                        reader.readAsDataURL(input.files[i]);
                    }
                }
            };

            $('#gallery-photo-add').on('change', function () {
                imagesPreview(this, 'div.gallery');
            });
        });
    </script>
    <input type="submit" value="Upload" />
}