
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_Layout1.cshtml";
}

<div class="animsition">
    <!-- Title Page -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(images/banner.png);">
        <h2 class="l-text2 t-center">
            @*text*@
        </h2>
    </section>
    <!-- content page -->
    <section class="bgwhite p-t-66 p-b-38">
        <div class="container">
            <div class="row">
                <div class="col-md-4 p-b-30">
                    <div class="hov-img-zoom">
                        <img src="~/images/UIT.png" alt="IMG-ABOUT">
                    </div>
                </div>

                <div class="col-md-8 p-b-30">
                    <h3 class="m-text26 p-t-15 p-b-16">
                        Our team
                    </h3>

                    <p class="p-b-22">Công nghệ phần mềm chuyên sâu - SE214.I21</p>
                    <br />
                    <p class="p-b-10">Team 15 :</p>
                    <p class="p-b-8">  - 14521076 Phạm Quang Vĩ </p>
                    <p class="p-b-8">  - 15520338 Lê Dương Khang</p>
                    <p class="p-b-8">  - 15520328 Nguyễn Đức Kế </p>
                    <p class="p-b-8">  - 15520087 Ngô Hữu Nhất Đăng </p>
                    <br />

                    <div class="bo13 p-l-29 m-l-9 p-b-10">
                        <p class="p-b-11">
                            Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                        </p>

                        <span class="s-text7">
                            - Steve Job’s
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

