@model NYCshop.ViewModels.ErrorViewModels.ErrorViewModel

@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <h4>@Html.DisplayFor(m => m.ErrorContent)</h4>
</div>